<%- include('../../../partials/head') %>
<%- include('../../../partials/nav') %>
<%- include('../../../partials/nav2') %>

<div>
    <form action="/user/employees/<%= employee._id %>" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Name: </label>
            <input type="text" class="form-control" id="username" name="username" value="<%= employee.username %>">
        </div>

        <div class="mb-3">
            Email: <%= employee.email %>
        </div>

        <!-- pass -->

        <button type="submit" class="btn btn-primary">Change</button>
    </form>
</div>

<%- include('../../../partials/foot') %>