<%- include('../../../partials/head') %> <%- include('../../../partials/nav') %>
<%- include('../../../partials/nav2') %>

<div>
  <form action="/user/donators/<%= donator._id %>/edit" method="post">
    <div class="mb-3">
      <label for="name" class="form-label">Name: </label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        value="<%= donator.name %>"
      />
    </div>

    <div class="mb-3">
      <div class="form-label">Email: <%= donator.email %></div>
    </div>

    <button class="btn btn-warning">Change</button>
  </form>
</div>

<%- include('../../../partials/foot') %>
